Repository NLog/NLog, pull requests merged in 2022-01, with the labels that each got.

#4720 ColoredConsoleTarget - EscapeColorCodes using single char is faster
  src/NLog/Targets/ColoredConsoleTarget.cs
Labels: refactoring, console-target, size/XS

#4717 databasetarget: improved parsing of dbtype
  src/NLog.Database/DatabaseParameterInfo.cs
  tests/NLog.Database.Tests/DatabaseTargetTests.cs
Labels: enhancement, database-target, size/L

#4613 purge logger cache entry when logger is disposed
  src/NLog/LogFactory.cs
  src/NLog/LogManager.cs
  tests/NLog.UnitTests/LogFactoryTests.cs
Labels: size/L

#4721 Introduced LogFactory.ReconfigureExistingLoggers with purgeObsoleteLoggers option
  src/NLog/LogFactory.cs
  tests/NLog.UnitTests/LogFactoryTests.cs
Labels: refactoring, size/S

#4723 LogFactoryTests - Updated unit-tests to use isolated LogFactory
  tests/NLog.UnitTests/Config/ConfigurationItemFactoryTests.cs
  tests/NLog.UnitTests/LogFactoryTests.cs
Labels: test, refactoring, size/M

#4724 VariableLayoutRendererTests - Changed to isolated LogFactory
  src/NLog/LogFactory.cs
  tests/NLog.UnitTests/Config/CultureInfoTests.cs
  tests/NLog.UnitTests/LayoutRenderers/VariableLayoutRendererTests.cs
  tests/NLog.UnitTests/NLogTestBase.cs
Labels: test, refactoring, size/L

#4726 RuleConfigurationTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Config/RuleConfigurationTests.cs
  tests/NLog.UnitTests/RoutingTests.cs
Labels: test, refactoring, size/L

#4725 Fixed test ValueWithVariableMustNotCauseInfiniteRecursion to work again
  tests/NLog.UnitTests/ConfigFileLocatorTests.cs
  tests/NLog.UnitTests/LayoutRenderers/VariableLayoutRendererTests.cs
  tests/NLog.UnitTests/LogFactoryTests.cs
Labels: test, refactoring, size/M

#4727 XmlConfigTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Config/CaseSensitivityTests.cs
  tests/NLog.UnitTests/Config/XmlConfigNodesOrderTests.cs
  tests/NLog.UnitTests/Config/XmlConfigTests.cs
Labels: test, refactoring, size/L

#4728 WhenFiltersTests changed to isolated LogFactory
  tests/NLog.UnitTests/Filters/ConditionBasedFilterTests.cs
  tests/NLog.UnitTests/Filters/WhenContainsTests.cs
  tests/NLog.UnitTests/Filters/WhenEqualTests.cs
  tests/NLog.UnitTests/Filters/WhenMethodFilterTests.cs
  tests/NLog.UnitTests/Filters/WhenNotContainsTests.cs
  tests/NLog.UnitTests/Filters/WhenNotEqualTests.cs
Labels: test, refactoring, size/L

#4729 TargetTests changed to isolated LogFactory
  src/NLog/Config/Factory.cs
  src/NLog/SetupExtensionsBuilderExtensions.cs
  tests/NLog.UnitTests/Config/CultureInfoTests.cs
  tests/NLog.UnitTests/LayoutRenderers/CallSite/CallSiteTests.cs
  tests/NLog.UnitTests/RegressionTests.cs
  tests/NLog.UnitTests/Targets/AsyncTaskTargetTest.cs
  tests/NLog.UnitTests/Targets/MemoryTargetTests.cs
  tests/NLog.UnitTests/Targets/TargetTests.cs
  tests/NLog.UnitTests/Targets/TargetWithContextTest.cs
Labels: test, refactoring, size/L

#4730 MemoryTarget - Updated to implement TargetWithLayoutHeaderAndFooter
  src/NLog/Targets/MemoryTarget.cs
  src/NLog/Targets/TraceTarget.cs
  tests/NLog.UnitTests/Layouts/CsvLayoutTests.cs
Labels: enhancement, size/L

#4731 JsonLayoutTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Layouts/JsonLayoutTests.cs
Labels: test, refactoring, size/L

#4735 MethodCallTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Targets/MethodCallTests.cs
Labels: test, refactoring, size/M

#4736 DuplicateConfigurationAttributeTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Config/DuplicateConfigurationAttributeTests.cs
  tests/NLog.UnitTests/Config/XmlConfigTests.cs
Labels: test, refactoring, size/L

#4737 TargetConfigurationTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/Config/RuleConfigurationTests.cs
  tests/NLog.UnitTests/Config/TargetConfigurationTests.cs
Labels: test, refactoring, size/M

#4738 Log4JXmlTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Log4JXmlTests.cs
  tests/NLog.UnitTests/Layouts/XmlLayoutTests.cs
Labels: test, refactoring, size/S

#4739 LogMessageFormatterTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LogMessageFormatterTests.cs
Labels: test, refactoring, size/S

#4741 LiteralTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/LiteralTests.cs
Labels: test, refactoring, size/S

#4742 StackTraceRendererTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/CallSite/StackTraceRendererTests.cs
  tests/NLog.UnitTests/LogFactoryTestExtensions.cs
Labels: test, refactoring, size/L

#4743 DateTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/DateTime/DateTests.cs
  tests/NLog.UnitTests/LayoutRenderers/DateTime/LongDateTests.cs
  tests/NLog.UnitTests/LayoutRenderers/DateTime/ShortDateTests.cs
Labels: test, refactoring, size/M

#4744 LoggerNameTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/LoggerNameTests.cs
Labels: test, refactoring, size/M

#4745 CallSiteTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/CallSite/CallSiteFileNameLayoutTests.cs
  tests/NLog.UnitTests/LayoutRenderers/CallSite/CallSiteLineNumberTests.cs
  tests/NLog.UnitTests/LayoutRenderers/CallSite/CallSiteTests.cs
  tests/NLog.UnitTests/LoggerTests.cs
Labels: test, refactoring, size/XL

#4746 LogLevelTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/LogLevelTests.cs
Labels: test, refactoring

#4747 MessageTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/MessageTests.cs
Labels: test, refactoring

#4748 TimeTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/DateTime/TimeTests.cs
Labels: test, refactoring, size/M

#4749 AllEventPropertiesTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Contexts/AllEventPropertiesTests.cs
  tests/NLog.UnitTests/NLogTestBase.cs
Labels: test, refactoring, size/M

#4750 ExceptionTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/ExceptionTests.cs
  tests/NLog.UnitTests/LogFactoryTestExtensions.cs
Labels: test, refactoring, size/L

#4752 ExceptionDataLayoutRendererTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/ExceptionDataLayoutRendererTests.cs
  tests/NLog.UnitTests/LogFactoryTestExtensions.cs
Labels: test, refactoring, size/M

#4751 LogFactory - Fallback to Type.Name when unable to resolve target-symbolname
  src/NLog/SetupLoadConfigurationExtensions.cs
Labels: refactoring, size/XS

#4755 SortHelpers - Refactoring to use is null
  src/NLog/Internal/Collections/SortHelpers.cs
Labels: refactoring, size/S

#4756 Layout Typed - Additional asserts of Equal-operator when IsFixed
  tests/NLog.UnitTests/Layouts/LayoutTypedTests.cs
  tests/NLog.UnitTests/Targets/TargetTests.cs
Labels: test, size/M

#4757 Updated JetBrains Annotations with StructuredMessageTemplateAttribute
  src/NLog.sln.DotSettings
  src/NLog/Abstractions/ILogger-V1.cs
  src/NLog/Abstractions/ILogger.cs
  src/NLog/Abstractions/ILoggerBase-V1.cs
  src/NLog/Annotations.cs
  src/NLog/Fluent/LogBuilder.cs
  src/NLog/ILoggerExtensions.cs
  src/NLog/LogEventBuilder.cs
  src/NLog/Logger-Conditional.cs
  src/NLog/Logger-generated.cs
  src/NLog/Logger-generated.tt
  src/NLog/Logger.cs
Labels: enhancement, refactoring, size/XXL

#4754 JsonArrayLayout - Render LogEvent in Json-Array format
  src/NLog/Layouts/JSON/JsonArrayLayout.cs
  src/NLog/Layouts/JSON/JsonLayout.cs
  tests/NLog.UnitTests/Layouts/JsonArrayLayoutTests.cs
  tests/NLog.UnitTests/Layouts/JsonLayoutTests.cs
Labels: feature, json / json-layout, size/L

#4758 WhenTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Wrappers/WhenTests.cs
Labels: test, refactoring, size/M

#4759 Rot13Tests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Wrappers/Encodings/Rot13Tests.cs
Labels: test, refactoring, size/S

#4760 HostNameTest - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Machine/HostNameLayoutRendererTests.cs
Labels: test, refactoring, size/S

#4762 ThreadNameTests - Changed to isolated LogFactory
  tests/NLog.UnitTests/LayoutRenderers/Threads/ThreadNameTests.cs
Labels: test, refactoring, size/S

#4764 NetworkTargetTests - Changed to isolated LogFactory, with UDP port-retry
  tests/NLog.UnitTests/Targets/NetworkTargetTests.cs
Labels: test, refactoring, size/M

#4763 FormatHelper ConvertToString resolving DefaultCultureInfo without locking LogManager.Configuration
  src/NLog/Internal/FormatHelper.cs
Labels: refactoring, size/XS

#4761 LogFactory - Fluent Setup with AddCallSiteHiddenAssembly
  src/NLog/SetupLogFactoryBuilderExtensions.cs
Labels: enhancement, size/XS

#4766 SortHelpers - Refactoring to use is null (Fix code analysis)
  src/NLog/Internal/Collections/SortHelpers.cs
  src/NLog/Layouts/XML/XmlElementBase.cs
Labels: refactoring, size/S

#4765 NLog 5.0 Release Candidate 2
  CHANGELOG.md
  build.ps1
  src/NLog/NLog.csproj
Labels: version, size/M

#4767 NLog 5.0 Release Candidate 2 (fix date)
  CHANGELOG.md
Labels: version

#4768 NLog 5.0 RC2 ChangeLog
  CHANGELOG.md
Labels: version, size/S

#4769 SortHelpers - Refactoring to use is null (Fix code analysis)
  src/NLog/Internal/Collections/SortHelpers.cs
Labels: refactoring, size/XS

#4770 LogFactory DefaultCultureInfo-setter should also update active config
  src/NLog/LogFactory.cs
Labels: refactoring, size/XS

#4772 Improve InternalLogger output on queue OnOverflow
  src/NLog/Internal/NetworkSenders/QueuedNetworkSender.cs
  src/NLog/Targets/NetworkTarget.cs
  src/NLog/Targets/Wrappers/AsyncRequestQueue-T.cs
  src/NLog/Targets/Wrappers/ConcurrentRequestQueue.cs
  tests/NLog.UnitTests/Targets/NetworkTargetTests.cs
Labels: refactoring, size/M

#4775 InternalLogger IncludeTimestamp = true by default to restore behavior from startup-settings
  src/NLog/Common/InternalLogger.cs
Labels: bug, size/XS

#4776 LoggingRule - Allow FinalMinLevel to override previous rules
  src/NLog/LogFactory.cs
  tests/NLog.UnitTests/Config/RuleConfigurationTests.cs
Labels: enhancement, size/M

#4773 Fix xml-docs and replaced broken link config.html with wiki-link
  src/NLog.Database/DatabaseTarget.cs
  src/NLog.MSMQ/Targets/MessageQueueTarget.cs
  src/NLog.OutputDebugString/OutputDebugStringTarget.cs
  src/NLog.PerformanceCounter/PerformanceCounterTarget.cs
  src/NLog.WindowsIdentity/ImpersonatingTargetWrapper.cs
  src/NLog/Layouts/CSV/CsvLayout.cs
  src/NLog/Layouts/CompoundLayout.cs
  src/NLog/Layouts/JSON/JsonArrayLayout.cs
  src/NLog/Layouts/JSON/JsonLayout.cs
  src/NLog/Layouts/Log4JXmlEventLayout.cs
  src/NLog/Layouts/SimpleLayout.cs
  src/NLog/Layouts/XML/XmlLayout.cs
  src/NLog/Targets/AsyncTaskTarget.cs
  src/NLog/Targets/ChainsawTarget.cs
  src/NLog/Targets/ColoredConsoleTarget.cs
  src/NLog/Targets/ConsoleTarget.cs
  src/NLog/Targets/DebugSystemTarget.cs
  src/NLog/Targets/DebugTarget.cs
  src/NLog/Targets/DebuggerTarget.cs
  src/NLog/Targets/EventLogTarget.cs
  src/NLog/Targets/FileTarget.cs
  src/NLog/Targets/MailTarget.cs
  src/NLog/Targets/MemoryTarget.cs
  src/NLog/Targets/MethodCallTarget.cs
  src/NLog/Targets/NLogViewerTarget.cs
  src/NLog/Targets/NetworkTarget.cs
  src/NLog/Targets/NullTarget.cs
  src/NLog/Targets/TargetWithContext.cs
  src/NLog/Targets/TargetWithLayout.cs
  src/NLog/Targets/TraceTarget.cs
  src/NLog/Targets/WebServiceTarget.cs
  src/NLog/Targets/Wrappers/AsyncTargetWrapper.cs
  src/NLog/Targets/Wrappers/AutoFlushTargetWrapper.cs
  src/NLog/Targets/Wrappers/BufferingTargetWrapper.cs
  src/NLog/Targets/Wrappers/FallbackGroupTarget.cs
  src/NLog/Targets/Wrappers/FilteringTargetWrapper.cs
  src/NLog/Targets/Wrappers/GroupByTargetWrapper.cs
  src/NLog/Targets/Wrappers/LimitingTargetWrapper.cs
  src/NLog/Targets/Wrappers/PostFilteringTargetWrapper.cs
  src/NLog/Targets/Wrappers/RandomizeGroupTarget.cs
  src/NLog/Targets/Wrappers/RepeatingTargetWrapper.cs
  src/NLog/Targets/Wrappers/RetryingTargetWrapper.cs
  src/NLog/Targets/Wrappers/RoundRobinGroupTarget.cs
  src/NLog/Targets/Wrappers/SplitGroupTarget.cs
Labels: documentation, size/L

#4777 DatabaseTarget - Removed alias DB to avoid promoting acronyms
  src/NLog.Database/DatabaseTarget.cs
Labels: refactoring, database-target, size/XS

#4779 NetworkTarget - Improve test-coverage for QueuedNetworkSender
  src/NLog/Internal/NetworkSenders/QueuedNetworkSender.cs
  tests/NLog.UnitTests/Targets/NetworkTargetTests.cs
Labels: test, network/NLogViewer-target, size/L

#4780 NetworkTarget - Improve test-coverage for QueuedNetworkSender (fix)
  tests/NLog.UnitTests/Targets/NetworkTargetTests.cs
Labels: test, network/NLogViewer-target, size/XS

#4781 Ignore dash (-) when parsing (e.g. layouts, layout renderers, targets)
  src/NLog/Config/Factory.cs
  tests/NLog.UnitTests/Config/ConfigurationItemFactoryTests.cs
  tests/NLog.UnitTests/Config/ExtensionTests.cs
Labels: test, refactoring, size/M

#4784 Improve InternalLogger output for named wrapper targets
  src/NLog/Targets/Target.cs
  tests/NLog.UnitTests/Targets/Wrappers/WrapperTargetBaseTests.cs
Labels: enhancement, refactoring, size/XS

#4785 Improve InternalLogger output for unnamed nested wrapper targets
  src/NLog/Targets/Target.cs
  src/NLog/Targets/Wrappers/WrapperTargetBase.cs
  tests/NLog.UnitTests/Targets/Wrappers/SplitGroupTargetTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/WrapperTargetBaseTests.cs
Labels: enhancement, size/S

#4786 Refactored code to remove false positives from code analysis
  src/NLog/Internal/SortHelpers.cs
  src/NLog/Layouts/XmlElementBase.cs
Labels: refactoring, size/S

#4787 Update Logger-methods with JetBrains StructuredMessageTemplateAttribute (missing V1 legacy)
  src/NLog/Abstractions/ILoggerBase.cs
  src/NLog/LogEventInfo.cs
  src/NLog/Logger-V1Compat.cs
Labels: enhancement, refactoring, size/XL
