Repository NLog/NLog, pull requests merged in 2024-02, with the labels that each got.

#5472 Updated to xUnit v2.7.0
  run-tests.ps1
  tests/ManuallyLoadedExtension/ManuallyLoadedExtension.csproj
  tests/NLog.Database.Tests/DatabaseTargetTests.cs
  tests/NLog.Database.Tests/NLog.Database.Tests.csproj
  tests/NLog.UnitTests/AsyncHelperTests.cs
  tests/NLog.UnitTests/Conditions/ConditionEvaluatorTests.cs
  tests/NLog.UnitTests/Config/ConfigApiTests.cs
  tests/NLog.UnitTests/Config/ExtensionTests.cs
  tests/NLog.UnitTests/Config/RuleConfigurationTests.cs
  tests/NLog.UnitTests/Config/XmlConfigTests.cs
  tests/NLog.UnitTests/Contexts/GlobalDiagnosticsContextTests.cs
  tests/NLog.UnitTests/Contexts/MappedDiagnosticsContextTests.cs
  tests/NLog.UnitTests/Contexts/MappedDiagnosticsLogicalContextTests.cs
  tests/NLog.UnitTests/Fluent/LogBuilderTests.cs
  tests/NLog.UnitTests/Fluent/LogEventBuilderTests.cs
  tests/NLog.UnitTests/GlobalSuppressions.cs
  tests/NLog.UnitTests/Internal/PropertiesDictionaryTests.cs
  tests/NLog.UnitTests/Internal/SortHelpersTests.cs
  tests/NLog.UnitTests/LayoutRenderers/Log4JXmlTests.cs
  tests/NLog.UnitTests/LayoutRenderers/Processes/ProcessIdLayoutRendererTests.cs
  tests/NLog.UnitTests/LoggerTests.cs
  tests/NLog.UnitTests/NLog.UnitTests.csproj
  tests/NLog.UnitTests/NLogTestBase.cs
  tests/NLog.UnitTests/Targets/EventLogTargetTests.cs
  tests/NLog.UnitTests/Targets/MemoryTargetTests.cs
  tests/NLog.UnitTests/Targets/TargetTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/AsyncTargetWrapperTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/FallbackGroupTargetTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/FilteringTargetWrapperTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/RandomizeGroupTargetTests.cs
  tests/NLog.UnitTests/Targets/Wrappers/RoundRobinGroupTargetTests.cs
  tests/NLog.WindowsRegistry.Tests/NLog.WindowsRegistry.Tests.csproj
  tests/NLogAutoLoadExtension/NLogAutoLoadExtension.csproj
  tests/PackageLoaderTestAssembly/PackageLoaderTestAssembly.csproj
  tests/SampleExtensions/SampleExtensions.csproj
Labels: unit-tests, build-config, dependencies, size/L

#5473 Updated to xUnit v2.7.0 (fixes)
  tests/NLog.UnitTests/ApiTests.cs
  tests/NLog.UnitTests/Internal/FileAppenders/FileAppenderCacheTests.cs
  tests/NLog.UnitTests/LayoutRenderers/Counters/GuidLayoutRendererTest.cs
  tests/NLog.UnitTests/Targets/EventLogTargetTests.cs
  tests/NLog.UnitTests/Targets/FileTargetTests.cs
Labels: unit-tests, size/M

#5475 docs: Fix link to CsvLayout
  src/NLog/Layouts/CSV/CsvLayout.cs
Labels: documentation, size/XS
